/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    @apply dark:bg-bgDarkSecondary
}


.heading{
    @apply 2xl:text-4xl text-xl lg:text-2xl xl:text-3xl
}
